.banner {
    background: url('../public/bg.png');
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 80px;
    @media screen and (max-width:768px) {
        min-height: auto;
    }
    .bannerContent {
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        @media screen and (max-width:768px) {
            height: auto;
        }
        h2 {
            font-size: 40px;
            color: #fff;
            text-align: center;
        }
        p {
            color: #fff;
            font-weight: 400;
            font-size: 34px;
            @media screen and (max-width:768px) {
                font-size: 24px;
                padding: 10px;
            }
        }
    }
    .bannerText {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        p {
            font-size: 70px;
        }
    }
}

.video {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
}

.projects {
    padding: 100px 0px;
    background-color: #000;
    @media screen and (max-width:768px) {
        padding: 50px 0px;
    }
    .title {
        color: #fff;
        font-size: 40px;
        @media screen and (max-width:768px) {
            font-size: 24px;
            text-align: center;
            margin-bottom:50px;
        }
    }
    .subtitle {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
            color: #fff;
            font-size: 30px;
            margin: 0;
            @media screen and (max-width:768px) {
                font-size: 24px;
                text-align: center;
                padding: 0px 20px;
            }
        }
    }
    .gridPorfolio {
        margin: 0 auto;
        height: auto;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        -moz-column-gap: 10px;
        -webkit-column-gap: 10px;
        column-gap: 10px;
        .imageContainer {
            width: 100%;
            max-width: 500px; /* Defina a largura máxima da div conforme necessário */
            margin: auto; /* Centralizar a div na página */
            cursor: pointer;
            border-radius: 100px;
        }
        .imageZoomContainer {
            overflow: hidden;
            position: relative;
        }
        .image {
            width: 100%;
            margin: 5px 0px;
            height: auto;
            display: block;
            transition: transform 0.3s ease-in-out;
            object-fit: cover;
            border-radius: 20px;
            @media screen and (max-width:768px) {
                height: 220px!important;
            }
        }
        .imageZoomContainer:hover .image {
            transform: scale(1.1); /* Ajuste o valor conforme necessário para o efeito de zoom desejado */
        }
    }
}

.portfolio {
    padding: 100px 0px;
    background-color: #000;
    @media screen and (max-width:768px) {
        padding: 50px 0px;
    }
    .title {
        color: #fff;
        font-size: 40px;
        @media screen and (max-width:768px) {
            font-size: 28px;
            text-align: center;
            margin-top: 20px;
        }
        strong {
            color: #EF5211;
        }
    }
    .subtitle {
        color: #7B6F6F;
        font-size: 24px;
        @media screen and (max-width:768px) {
            font-size: 22px;
            text-align: center;
        }
    }
    .categorie {
        color: #fff;
        width: auto;
        border: 2px solid #fff;
        text-align: center;
        text-transform: uppercase;
        border-radius: 50px;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s;
        @media screen and (max-width:768px) {
            font-size: 15px;
        }
        &:hover {
            background-color: #fff;
            color: #000;
            transition: 0.3s;
        }
    }
    .gridPorfolio {
        margin: 0 auto;
        height: auto;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        -moz-column-gap: 10px;
        -webkit-column-gap: 10px;
        column-gap: 10px;
        .imageContainer {
            width: 100%;
            max-width: 500px; /* Defina a largura máxima da div conforme necessário */
            margin: auto; /* Centralizar a div na página */
            cursor: pointer;
        }
        .imageZoomContainer {
            overflow: hidden;
            position: relative;
        }
        .image {
            width: 100%;
            margin: 5px 0px;
            height: auto;
            display: block;
            transition: transform 0.3s ease-in-out;
            object-fit: cover;
            @media screen and (max-width:768px) {
                height: 220px!important;
            }
        }
        .imageZoomContainer:hover .image {
            transform: scale(1.1); /* Ajuste o valor conforme necessário para o efeito de zoom desejado */
        }
    }
}

.footer {
    padding: 100px  0px 50px;
    background-color: #D9D9D9;
    position: relative;
    min-height: 500px;
    @media screen and (max-width:768px) {
        padding: 50px 0px;
        min-height: auto;
    }
    .footerUm {
        position: absolute;
        top: -30%;
        left: -100px;
        @media screen and (max-width:768px) {
            display: none;
        }
    }
    .footerDois {
        position: absolute;
        top: -50%;
        right: 0;
        @media screen and (max-width:768px) {
            display: none;
        }
    }
    .footerTitle {
        text-align: center;
        padding: 10px 80px;
        font-size: 48px;
        color: #000!important;
        @media screen and (max-width:768px) {
            font-size: 28px;
            padding: 10px;
        }
    }
    p {
        color: #000!important;
    }
    .ctaFooter {
        background-color: #EF5211;
        padding: 10px;
        font-size: 48px;
        width: 300px;
        text-align: center;
        color: #D9D9D9;
        border-radius: 50px;
        cursor: pointer;
        @media screen and (max-width:768px) {
            font-size: 28px;
        }
        &:hover {
            opacity: 0.6;
            transition: 0.3s;
        }
    }
}