.banner {
    background: url('../public/bg.png');
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 80px;
    @media (max-width: 768) {
        height: auto;
    }
    .bannerContent {
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        p {
            color: #fff;
            font-weight: 400;
            font-size: 34px;
        }
    }
    .bannerText {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        p {
            font-size: 70px;
        }
    }
}

.video {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
}

.projects {
    padding: 100px 0px;
    background-color: #000;
    .title {
        color: #fff;
        font-size: 40px;
    }
    .subtitle {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
            color: #fff;
            font-size: 30px;
            margin: 0;
        }
    }
    .gridProjects {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        .imageContainer {
            width: 100%;
            max-width: 500px; /* Defina a largura máxima da div conforme necessário */
            margin: auto; /* Centralizar a div na página */
            cursor: pointer;
        }
        .imageZoomContainer {
            overflow: hidden;
            position: relative;
        }
        .image {
            width: 100%;
            height: auto;
            display: block;
            transition: transform 0.3s ease-in-out;
        }
        .imageZoomContainer:hover .image {
            transform: scale(1.1); /* Ajuste o valor conforme necessário para o efeito de zoom desejado */
        }
    }
}

.portfolio {
    padding: 100px 0px;
    background-color: #000;
    .title {
        color: #fff;
        font-size: 40px;
    }
    .subtitle {
        color: #7B6F6F;
        font-size: 24px;
    }
    .gridPorfolio {
        margin: 0 auto;
        height: auto;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        -moz-column-gap: 10px;
        -webkit-column-gap: 10px;
        column-gap: 10px;
        .imageContainer {
            width: 100%;
            max-width: 500px; /* Defina a largura máxima da div conforme necessário */
            margin: auto; /* Centralizar a div na página */
            cursor: pointer;
        }
        .imageZoomContainer {
            overflow: hidden;
            position: relative;
        }
        .image {
            width: 100%;
            margin: 5px 0px;
            height: auto;
            display: block;
            transition: transform 0.3s ease-in-out;
            object-fit: fill;
        }
        .imageZoomContainer:hover .image {
            transform: scale(1.1); /* Ajuste o valor conforme necessário para o efeito de zoom desejado */
        }
    }
}